*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-navigation{
    background-color: #e8e8e8e8;
    width: 100%;
    height: auto;
    padding: 1rem 4rem 1rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo h1{
    width: fit-content;
}

.botton button{
    background-color: #000000;
    color: #ffffff;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 0.5rem;
    border: none;

}

.hero-section{
    background-color: #dededee8;
    width: 100%;
    height: auto;
    padding: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-hero-container{
    background-color: #ffffff;
    width: 50%;
    height: auto;
    padding: 10rem;
}

.right-hero-container{
    background-color: #6f6f6f;
    width: 50%;
    height: auto;
    
    
}

.right-image{
    width: 100%;
    height:auto;

}

.right-image img{
    width: 100%;
    height: auto;
    object-fit: cover;
    
}