
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

.TopNav{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0729A2;
    color:#ffffff;
    padding:1.7rem 15rem 1.7rem 15rem;
    border-bottom: 1px solid;
    border-color: #5050C7;
}

.NavLinks{
    width: fit-content;
    height: auto;
}

.desktop-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 4.5rem;
}

.menu-icon{
    display: none;
    cursor: pointer;
}

.links{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    cursor: pointer;
}

.nav-btns{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
    
}
.secondary-btn{
    width: fit-content;
    height: auto;
    padding: 1rem;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 0.5rem;;
    font-size: 1rem;
    cursor: pointer;
}

.primary-btn{
    width: fit-content;
    height: auto;
    padding: 1rem;
    background-color: #ffffff;
    border: none;
    color: #0729A2;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

.mobile-menu{
    width: 70%;
    background-color: #0729A2;
    color:#ffffff;
    position: fixed;
    top: 0;
    left:0;
    height: 100vh;
    z-index: 100;
    padding: 2rem;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 3rem;
    
}

.nav-btns-mobile{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    column-gap: 1rem;
}

.mobile-menu ul{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 1rem;
}

.logo-and-close-icon{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.HeroSection{
    background-color: #0729A2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:6.25rem 15rem 0rem 15rem;
    width: 100%;
    height:66.5%;

}
.TextAndCTA{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 40%;
    height: auto;
    row-gap: 1.5rem;
    
}
.HeroText{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 2rem;
    color: #ffffff;

}
.HeroImg{
    max-width: 60%;
}
.HeroText h1{
    font-family: "Work Sans", sans-serif;
    font-size: 4rem;
}
.HeroText p{
    font-family: inter;
    font-size: 1.125rem;
    font-weight: 400;
    max-width: 75%;
    line-height: 2rem;
    
}
.DownloadCTA{
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
    column-gap: 1rem;
    cursor: pointer;
}

.AppStore, .PlayStore{
    width:30%;
    height: auto;
}

.AppStore img, .PlayStore img{
    width:100%;
    height: auto;
}

.SectionTwo{
    background-color: #FAFAFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:6.25rem 15rem 6.25rem 15rem;
    width: 100%;
    height: auto;
    row-gap: 4rem;

}
.SectionTwoCards{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 5rem;
   
    
}

.SectionTwoTxt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.SectionTwoTxt h2{
    font-family: "Work Sans", sans-serif;
    font-size: 2.5rem;
    color: #1D2939;
}

.SectionTwoTxt p{
    color: #3D3D3D;
    font-size: 1.125;
    font-weight: 400;
}


.card-and-btn-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 2.5rem;
}
.card{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1.75rem;
}
.cardImg{
    width: 100%;
    height: auto;
}

.cardImg img{
    width: 100%;
    height: auto;
}
.CardText{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 0.75rem;

}
.CardText h5{
    font-family: Work Sans;
    font-size: 1.625rem;
    color: #1D2939;
}
.CardText p{
    font-size: 1rem;
    color: #444F5F;
    line-height: 1.6rem;
}
.CardBtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #191919;
    font-size: 1.125rem;
    font-weight: 600;
    column-gap: 1rem;
}

.CardBtn:hover{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #191919;
    font-size: 1.138rem;
    font-weight: 600;
    column-gap: 1.5rem;
    cursor: pointer;
}

.SectionCont{
    padding: 3rem 15rem 3rem 15rem;
    width: 100%;
    height: auto;
    background-color: #FAFAFF;

}
.SectionThree{
    background-color: #CCCCFF;
    border-radius: 2rem;
    padding-left: 6rem ;
    padding-right: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    column-gap: 5rem;
    width: 100%;
    height: auto;
}

.LeftContent{
   width: 50%;
   height: auto;
}

.SectionThreeTxt h2{
    color: #1D2939;
    font-family: "Work Sans", sans-serif;
    font-size: 4rem;
    margin-bottom: 0.5rem;
}

.SectionThreeTxt p{
    font-family: inter;
    font-size: 1.125rem;
    color: #444F5F;
    margin-bottom: 2.5rem;
}
.SectionThreeLinks{
    display: flex;
    align-items: center;
    flex-direction: row; flex-wrap: wrap;
    
}
.SectionThreeLinks p{
    font-family: "Work Sans", sans-serif;
    font-size: 1.125rem;
    color: #687992;
    margin-right: 24px;
    font-family: work Sans;
    font-size: 1.5rem; 
    font-weight: 550;
    margin-bottom: 1rem;
}

#one{
    font-family: "Work Sans", sans-serif;
    font-size: 1.5rem;
    color: #1D2939; 
    font-weight: 550;
}


.SectionFour{
    background-color: #FFE4AE;
    border-radius: 2rem;
    padding-left: 7.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

.S4LeftContent{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    row-gap: 1.5rem;
}
.SectionFourTxt{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 1rem;
}
    .SectionFourTxt h2{
        color: #1D2939;
        font-family: "Work Sans", sans-serif;
        font-size: 4rem;
}

.SectionFourTxt p{
    font-size: 1.125rem;
    color: #444F5F;
}

.SectionBtn button{
   background-color: #0729A2;
    color: #ffffff;
    border-style: none;
    padding: 1.25rem 2rem 1.25rem 2rem;
    border-radius: 8px;
    font-size: 1.2rem;
}

.FAQ-section{
    background-color: #ffffff;
    padding: 6rem 15rem 6rem 15rem;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
}

.FAQ-section h2{
    font-size: 3.25rem;
    font-family: "Work Sans", sans-serif;
    width: 40%;
    height: auto;
}

.FAQ-container h5{
    font-family: Work Sans;
    font-size: 1.2rem;
    font-weight: 500;
}

.FAQ-container{
    width: 100%;
    height: auto;
    border: 1px solid #949494;
    border-radius: 1rem;
    background-color: #ffffff;
}

.FAQs{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding:1rem;
}
.FAQ-1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:1rem 1.5rem 1rem 1.5rem;
    border-bottom: 1px solid #949494;
    background-color: #ffffff;
    border-radius: 1rem 1rem 0rem 0rem;
}

.FAQ-7 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:1rem 1.5rem 1rem 1.5rem;
    border-bottom: none;
    background-color: #ffffff;
    border-radius: 1rem 1rem 0rem 0rem;
}

.FAQ-question{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding:1rem 1.5rem 1rem 1.5rem; */
    background-color: #ffffff;
    cursor: pointer;
}


.FAQ-answer{
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #ffffff;
    
}

.FAQ-1.active .FAQ-answer{
        width: 100%;
        height: auto;
        padding: 1.5rem 0rem;
        background-color: #ffffff;
        display: flex;
        animation: fade 1s ease-in-out;
}

.FAQ-7.active .FAQ-answer{
    width: 100%;
    height: auto;
    padding: 1.5rem 0rem;
    background-color: #ffffff;
    display: flex;
    animation: fade 1s ease-in-out;
}

.FAQ-1.active svg{
    transform: rotate(180deg);
}

.FAQ-7.active svg{
    transform: rotate(180deg);
}

svg{
    transition: transform 0.6s ease-in;
}

@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
    

}

.FAQ-answer p{
    font-family: Work Sans;
    font-size: 1rem;
    line-height: 1.625rem;
    text-align: left;
    max-width: 94%;
}



footer{
    background-color: #F0F0FF;
    padding: 6.25rem 7.5rem 6.25rem 7.25rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
}

footer div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer a{
    text-decoration: none;
    padding-bottom: 2rem;
    font-size: 1rem;
    font-weight: 400;
    color: #545454;
}

footer p{
    text-decoration: none;
    padding-bottom: 2rem;
    font-size: 1rem;
    font-weight: 500;
    color: #0729A2;
}

.socials{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width:1250px){
    .TopNav{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #0729A2;
        color:#ffffff;
        padding:1.7rem 4rem 1.7rem 4rem;
    }
    
    
    .NavLinks{
        width: fit-content;
        height: auto;
    }
    
    .desktop-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 2rem;
       
    }
    
    .menu-icon{

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #ffffff;
    }
    
    .links{
        color: #ffffff;
        font-size: 1rem;
        font-weight: 400;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;
        display: none;
    }
    
    .nav-btns{
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        column-gap: 1rem;
        display: none;
    }
    .secondary-btn{
        width: 50%;
        height: auto;
        padding: 1rem;
        background-color: transparent;
        border: 1px solid #ffffff;
        color: #ffffff;
        border-radius: 0.5rem;;
        font-size: 1rem;
    }
    
    .primary-btn{
        width: 50%;
        height: auto;
        padding: 1rem;
        background-color: #ffffff;
        border: none;
        color: #0729A2;
        border-radius: 0.5rem;
        font-size: 1rem;
    }
    
    .mobile-menu{
        width: 100%;
        background-color: #0729A2;
        color:#ffffff;
        position: fixed;
        top: 0;
        left:0;
        height: 100vh;
        z-index: 100;
        padding: 1.7rem 4rem;
        display:none;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        row-gap: 3rem;
    }
    
    .nav-btns-mobile{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        column-gap: 1rem;
    }

    .nav-btns-mobile .secondary-btn,.nav-btns-mobile .primary-btn{
        width: 50%;
        height: auto;
        font-size: 1rem;
    }
    .mobile-menu ul{
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 1rem;
    }
    
    
    
    .logo-and-close-icon{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .HeroSection{
        background-color: #0729A2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:4rem 5rem 0rem 5rem;
        width: 100%;
        height:66.5%;
        row-gap: 4rem;
        flex-wrap: wrap;
    
    }
    .TextAndCTA{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width:100%;
        height: auto;
        row-gap: 1.5rem;
        
    }
    .HeroText{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2rem;
        color: #ffffff;
    
    }
    .HeroImg{
        max-width: 80%;
    }

    .HeroImg img{
        max-width: 100%;
    }
    .HeroText h1{
        font-family: "Work Sans", sans-serif;
        font-size: 4rem;
        text-align: center;
    }
    .HeroText p{
        font-size: 1.125rem;
        font-weight: 400;
        max-width: 75%;
        line-height: 2rem;
        text-align: center;
        
     
        
    }
    .DownloadCTA{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 1rem;
    }

    .AppStore, .PlayStore{
        width:20%;
        height: auto;
    }

    .AppStore img, .PlayStore img{
        width:100%;
        height: auto;
    }
    
    .SectionTwo{
        background-color: #FAFAFF;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 4rem 2rem;
        width: 100%;
        height: auto;
    
    
    }
    .SectionTwoCards{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        flex-wrap: wrap;
        column-gap: 2rem;
        row-gap: 4rem;

       
        
    }
    
    
    .SectionTwoTxt h2{
        font-family: "Work Sans", sans-serif;
        font-size: 2.5rem;
        color: #1D2939;
        text-align: center;
    }
    
    .SectionTwoTxt p{
        color: #3D3D3D;
        font-size: 1.125;
        font-weight: 400;
        text-align: center;
    }
    
    
    .card-and-btn-container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 2rem;
    }
    .card{
        width: 44%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        row-gap: 1.75rem;
    }
    .cardImg{
        width: 100%;
        height: auto;
    }
    
    .cardImg img{
        width: 100%;
        height: auto;
    }
    .CardText{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        row-gap: 0.75rem;
    
    }
    .CardText h5{
        font-family: "Work Sans", sans-serif;
        font-size: 1.625rem;
        color: #1D2939;
    }
    .CardText p{
        font-size: 1rem;
        color: #444F5F;
        line-height: 1.6rem;
    }
    .CardBtn{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: #191919;
        font-size: 1.125rem;
        font-weight: 600;
        column-gap: 1rem;
    }
    
    
    .SectionCont{
        padding: 1.5rem 2.75rem 1.5rem 2.75rem;
        width: 100%;
        height: auto;
        background-color: #FAFAFF;
    
    }

    .SectionThreeImg{
        width: 100%;
        height: auto;
    }

    .SectionThreeImg img{
        width: 100%;
        height: auto;
    }
    .SectionThree{
        background-color: #CCCCFF;
        border-radius: 2rem;
        padding: 2rem 0rem 0rem 3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        width: 100%;
        height: auto;
    }
    
    .LeftContent{
       width: 100%;
       height: auto;
    }
    
    .SectionThreeTxt h2{
        color: #1D2939;
        font-family: "Work Sans", sans-serif;
        font-size: 2.4rem;
    
    }
    
    .SectionThreeTxt p{
        font-family: inter;
        font-size: 1.125rem;
        color: #444F5F;
 
    }
    .SectionThreeLinks{
        display: flex;
        align-items: center;
        flex-direction: row; flex-wrap: wrap;
        
    }
    .SectionThreeLinks p{
        font-family: "Work Sans", sans-serif;
        font-size: 1.125rem;
        color: #687992;
        font-family: work Sans;
        font-size: 1.4rem; 
        font-weight: 550;
       
    } 
    
    #one{
        font-family: "Work Sans", sans-serif;
        font-size: 1.4rem;
        color: #1D2939; 
        font-weight: 550;
    }
    
    
    .SectionFour{
        background-color: #FFE4AE;
        border-radius: 2rem;
        padding: 3rem 0rem 0rem 3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: auto;
    }
    
    .S4LeftContent{
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        row-gap: 1.5rem;
    }
    .SectionFourTxt{
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        row-gap: 1rem;
    }
        .SectionFourTxt h2{
            color: #1D2939;
            font-family: "Work Sans", sans-serif;
            font-size: 2.4rem;
    }
    
    .SectionFourTxt p{
        font-size: 1.125rem;
        color: #444F5F;
    }
    
    .SectionFourImg{
        width: 50%;
        height: auto;
    }

    .SectionFourImg img{
        width: 100%;
        height: auto;
    }
    .SectionBtn button{
       background-color: #0729A2;
        color: #ffffff;
        border-style: none;
        padding: 1.25rem 2rem 1.25rem 2rem;
        border-radius: 8px;
        font-size: 1.2rem;
    }

    .FAQ-section{
        background-color: #ffffff;
        padding: 3rem 2.75rem 3rem 2.75rem;
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        height: auto;
    }
    
    .FAQ-section h2{
        font-size: 2.4rem;
        font-family: "Work Sans", sans-serif;
        width: 60%;
        height: auto;
    }
    
    .FAQ-container h5{
        width: 80%;
        font-family: "Work Sans", sans-serif;
        font-size: 1rem;
        font-weight: 500;
    }
    
    .FAQ-container{
        width: 100%;
        height: auto;
        border: 1px solid #949494;
        border-radius: 1rem;
        background-color: #ffffff;
    }
    
    .FAQs{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding:1rem;
    }
    .FAQ-1 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding:1rem 1.5rem 1rem 1.5rem;
        border-bottom: 1px solid #949494;
        background-color: #ffffff;
        border-radius: 1rem 1rem 0rem 0rem;
    }
    
    .FAQ-7 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding:1rem 1.5rem 1rem 1.5rem;
        border-bottom: none;
        background-color: #ffffff;
        border-radius: 1rem 1rem 0rem 0rem;
    }
    
    .FAQ-question{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* padding:1rem 1.5rem 1rem 1.5rem; */
        background-color: #ffffff;
        cursor: pointer;
    }
    
    
    .FAQ-answer{
        width: 100%;
        height: 0;
        overflow: hidden;
        background-color: #ffffff;
        
    }
    
    .FAQ-1.active .FAQ-answer{
        width: 100%;
        height: auto;
        padding: 1.5rem 0rem;
        background-color: #ffffff;
        display: flex;
        animation: fade 1s ease-in-out;
}

.FAQ-7.active .FAQ-answer{
    width: 100%;
    height: auto;
    padding: 1.5rem 0rem;
    background-color: #ffffff;
    display: flex;
    animation: fade 1s ease-in-out;
}

.FAQ-1.active svg{
    transform: rotate(180deg);
}

.FAQ-7.active svg{
    transform: rotate(180deg);
}

svg{
    transition: transform 0.5s ease-in;
}

@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
    

}
    
    .FAQ-answer p{
        font-family: Work Sans;
        font-size: 1rem;
        line-height: 1.625rem;
        text-align: left;
        max-width: 94%;
    }
    

    

    footer{
        background-color: #F0F0FF;
        padding: 6.25rem 2.75rem 6.25rem 2.75rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        column-gap: 1rem;
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }
    
    /* footer div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
    } */
    
    footer a{
        text-decoration: none;
        padding-bottom: 2rem;
        font-size: 1rem;
        font-weight: 400;
        color: #545454;
    }
    
    footer p{
        text-decoration: none;
        padding-bottom: 2rem;
        font-size: 1rem;
        font-weight: 500;
        color: #0729A2;
    }
    
    .socials{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

}


@media only screen and (max-width:620px){
    .TopNav{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #0729A2;
        color:#ffffff;
        padding:1.7rem 2rem 1.7rem 2rem;
    }
    
    .NavLinks{
        width: fit-content;
        height: auto;
    }
    
    .desktop-menu{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 2rem;
       
    }
    
    .menu-icon{

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #ffffff;
    }
    
    .links{
        color: #ffffff;
        font-size: 1rem;
        font-weight: 400;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;
        display: none;
    }
    
    .nav-btns{
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        column-gap: 1rem;
        display: none;
    }
    .secondary-btn{
        width: 50%;
        height: auto;
        padding: 1rem;
        background-color: transparent;
        border: 1px solid #ffffff;
        color: #ffffff;
        border-radius: 0.5rem;;
        font-size: 1rem;
    }
    
    .primary-btn{
        width: 50%;
        height: auto;
        padding: 1rem;
        background-color: #ffffff;
        border: none;
        color: #0729A2;
        border-radius: 0.5rem;
        font-size: 1rem;
    }
    
    .mobile-menu{
        width: 100%;
        height: 100vh;
        background-color: #0729A2;
        color:#ffffff;
        position: fixed;
        top: 0;
        left:0;
        z-index: 100;
        padding: 1.7rem 2rem;
        display:none;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        row-gap: 3rem;
        
    }
    
    .close-icon{
        display: flex;
        justify-content: center;
        align-self: center;
    }
    
    .nav-btns-mobile{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: center;
        column-gap: 1rem;
    }

    .nav-btns-mobile .secondary-btn,.nav-btns-mobile .primary-btn{
        width: 50%;
        height: auto;
        font-size: 0.8rem;
    }

    .mobile-menu ul{
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 1rem;
    }
    
    .logo-and-close-icon{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .HeroSection{
        background-color: #0729A2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:2rem 1rem 0rem 1rem;
        width: 100%;
        height:66.5%;
        row-gap: 4rem;
        flex-wrap: wrap;
    
    }
    .TextAndCTA{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width:100%;
        height: auto;
        row-gap: 1.5rem;
        
    }
    .HeroText{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2rem;
        color: #ffffff;
    
    }
    .HeroImg{
        max-width: 80%;
    }

    .HeroImg img{
        max-width: 100%;
    }
    .HeroText h1{
        font-family: "Work Sans", sans-serif;
        font-size: 2.5rem;
        text-align: center;
    }
    .HeroText p{
        font-size: 1.125rem;
        font-weight: 400;
        max-width: 90%;
        line-height: 2rem;
        text-align: center;
     
        
    }
    .DownloadCTA{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 1rem;
        padding: 0rem 1rem;
    }

    .AppStore, .PlayStore{
        width:50%;
        height: auto;
    }

    .AppStore img, .PlayStore img{
        width:100%;
        height: auto;
    }
    
    .SectionTwo{
        background-color: #FAFAFF;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 1.5rem;
        width: 100%;
        height: auto;
    
    
    }
    .SectionTwoCards{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        flex-wrap: wrap;
        column-gap: 2rem;
        row-gap: 4rem;
 
    }
    
    .SectionTwoTxt{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 1.25rem;
    }
    .SectionTwoTxt h2{
        font-family: "Work Sans", sans-serif;
        font-size: 2.5rem;
        color: #1D2939;
        text-align: center;
        line-height: 2.8rem;
    }
    
    .SectionTwoTxt p{
        color: #3D3D3D;
        font-size: 1.125;
        font-weight: 400;
        text-align: center;
    }
    
    
    .card-and-btn-container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 2rem;
    }
    .card{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        row-gap: 1.75rem;
    }
    .cardImg{
        width: 100%;
        height: auto;
    }
    
    .cardImg img{
        width: 100%;
        height: auto;
    }
    .CardText{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        row-gap: 0.75rem;
    
    }
    .CardText h5{
        font-family: "Work Sans", sans-serif;
        font-size: 1.625rem;
        color: #1D2939;
    }
    .CardText p{
        font-size: 1rem;
        color: #444F5F;
        line-height: 1.6rem;
    }
    .CardBtn{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: #191919;
        font-size: 1.125rem;
        font-weight: 600;
        column-gap: 1rem;
    }
    
    
    .SectionCont{
        padding: 1rem 1.5rem 1rem 1.5rem;
        width: 100%;
        height: auto;
        background-color: #FAFAFF;
    
    }
    .SectionThree{
        background-color: #CCCCFF;
        border-radius: 2rem;
        padding:2rem 2.5rem 0rem 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 100%;
        height: auto;
    }
    
    .LeftContent{
       width: 100%;
       height: auto;
    }
    
    .SectionThreeTxt{
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        row-gap: 1rem;
    }
    .SectionThreeTxt h2{
        color: #1D2939;
        font-family: "Work Sans", sans-serif;
        font-size: 2rem;
    
    }
    
    .SectionThreeTxt p{
        font-family: inter;
        font-size: 1.125rem;
        line-height: 1.8rem;
        color: #444F5F;
 
    }
    .SectionThreeLinks{
        display: flex;
        align-items: center;
        flex-direction: row; flex-wrap: wrap;
        
    }
    .SectionThreeLinks p{
        font-family: "Work Sans", sans-serif;
        font-size: 1.125rem;
        color: #687992;
        margin-right: 24px;
        font-family: work Sans;
        font-size: 1.4rem; 
        font-weight: 550;
        margin-bottom: 1rem;
    }
    
    #one{
        font-family: "Work Sans", sans-serif;
        font-size: 1.4rem;
        color: #1D2939; 
        font-weight: 550;
    }
    
    .SectionThree{
        background-color: #CCCCFF;
        border-radius: 2rem;
        padding:2rem 2rem 0rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 100%;
        height: auto;
    }
    .SectionFour{
        width: 100%;
        height: auto;
        background-color: #FFE4AE;
        border-radius: 2rem;
        padding:2rem 2rem 0rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .S4LeftContent{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        row-gap: 1.5rem;
    }
    .SectionFourTxt{
        width: fit-content;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        row-gap: 1rem;
    }
        .SectionFourTxt h2{
            color: #1D2939;
            font-family: "Work Sans", sans-serif;
            font-size: 2rem;
    }
    
    .SectionFourTxt p{
        font-size: 1.125rem;
        color: #444F5F;
        line-height: 1.8rem;
    }

    .SectionFourImg{
        width: 100%;
        height: auto;
    }

    .SectionFourImg img{
        width: 100%;
        height: auto;
    }
    
    .SectionBtn button{
       background-color: #0729A2;
        color: #ffffff;
        border-style: none;
        padding: 1rem 1.5rem 1rem 1.5rem;
        border-radius: 8px;
        font-size: 1rem;
    }

    .FAQ-section{
        background-color: #ffffff;
        padding: 4rem 1.5rem 4rem 1.5rem;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        height: auto;
    }
    
    .FAQ-section h2{
        font-size: 1.5rem;
        font-family: "Work Sans", sans-serif;
        width: 70%;
        height: auto;
    }
    
    .FAQ-container h5{
        width: 80%;
        font-family: Work Sans;
        font-size: 1rem;
        font-weight: 500;

    }
    
    .FAQ-container{
        width: 100%;
        height: auto;
        border: 1px solid #949494;
        border-radius: 1rem;
        background-color: #ffffff;
    }
    
    .FAQs{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding:1rem;
    }
    .FAQ-1 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding:1rem 0rem 1rem 0rem;
        border-bottom: 1px solid #949494;
        background-color: #ffffff;
        border-radius: 1rem 1rem 0rem 0rem;
    }
    
    .FAQ-7 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding:1rem 0rem 1rem 0rem;
        border-bottom: none;
        background-color: #ffffff;
        border-radius: 1rem 1rem 0rem 0rem;
    }
    
    .FAQ-question{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        cursor: pointer;
    }
    
    
    .FAQ-answer{
        width: 100%;
        height: 0;
        overflow: hidden;
        background-color: #ffffff;
        
    }
    
    .FAQ-1.active .FAQ-answer{
        width: 100%;
        height: auto;
        padding: 1.5rem 0rem;
        background-color: #ffffff;
        display: flex;
        animation: fade 1s ease-in-out;
}

    .FAQ-7.active .FAQ-answer{
    width: 100%;
    height: auto;
    padding: 1.5rem 0rem;
    background-color: #ffffff;
    display: flex;
    animation: fade 1s ease-in-out;
}

    .FAQ-1.active svg{
    transform: rotate(180deg);
    }

    .FAQ-7.active svg{
    transform: rotate(180deg);
    }

svg{
    transition: transform 0.5s ease-in;
    }

@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
    

}

    
    
    .FAQ-answer p{
        font-family: Work Sans;
        font-size: 1rem;
        line-height: 1.625rem;
        text-align: left;
        max-width: 94%;
    }
    

    footer{
        background-color: #F0F0FF;
        padding: 3rem 1.5rem 3rem 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        column-gap: 2rem;
    }
    
    footer div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    footer a{
        text-decoration: none;
        padding-bottom: 2rem;
        font-size: 1rem;
        font-weight: 400;
        color: #545454;
    }
    
    footer p{
        text-decoration: none;
        padding-bottom: 2rem;
        font-size: 1rem;
        font-weight: 500;
        color: #0729A2;
    }
    
    .socials{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

}
